# .gitignore

# Maven
**/target

# NetBeans IDE
**/nb-configuration.xml
**/faces-config.NavData
**/nbactions.xml

# IntelliJ IDEA
**/.idea
**/**.iml

# VS Code
**/.classpath
**/.factorypath
**/.project
**/.settings
