html{
    font-family: Helvetica, sans-serif;
    background: aliceblue;
}

footer{
    color: olive;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 0.2em 0 0.2em;
}

.select-lang ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.select-lang li {
    margin: 0 0.2em 0 0.2em;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/** Primefaces**/

body .ui-panelgrid .ui-panelgrid-content{
    border: 0px;
}